* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  color: rgba(0,0,0,.87);
  color: #222;
  line-height: 1.2;
}

h1 {
  text-align: center;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

em {
  background: yellow;
}


.profile-img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;

  width: 80px;
  height: 80px;

  background-image: url(http://davidalbertoadler.com/assets/img/chaordic-hover-profile.png);
  background-size: 100%;
  cursor: pointer;

}
.profile-img:hover, .profile-img.hover {
  background-position: 0 100%;
}

.hover-message {
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 2;
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 0px 0px 9px black;
}

.hit:hover {
  /*background-color: rgba(0,0,0,.05);*/
}

.bg_color1 {
  background-color: rgba(0,0,0,.02);
}

.hit {
  margin: 0.4rem 0;
}

.hit-content {
  clear: both;
}

.item-title {
  font-size: 1.1rem;
}

.lighter {
  color: rgba(0,0,0,.54);
}

.is_first_event_of_day {
  margin-top: 1rem;
}
.is_first_event_of_day .day_from_now {
  display: block;
  font-size: 1.3rem;
}
.day_from_now {
  display: none;
  margin: 0.4rem 0;
}

@media (min-width: 900px) {
  .item-aside {
    display: inline-block;
    float: right;
  }
}

.item-date-time, .item-capacity-1 {
  display: inline-block;
  font-weight: lighter;
  color: #666;
}

.item-tags {
  display: inline-block;
  font-weight: lighter;
  padding: 2px
}

.item-tags a {
  text-decoration: none;
}

.item-capacity-2 {
  display: none;
}

.ais-search-box, #search-input {
  margin: 0 auto;
}
